<configuration>
  <appSettings>
    <add key="pythonpath" value="%SystemDrive%\home\site\wwwroot"/>
    <add key="WSGI_HANDLER" value="hostingstart-python.application"/>
  </appSettings>
  <system.webServer>
  <staticContent>
     <mimeMap fileExtension=".json" mimeType="application/json"/>
     <mimeMap fileExtension=".apk" mimeType="application/x-zip-compressed"/>
   </staticContent>
  <modules>
  
  
  <remove name="TelemetryCorrelationHttpModule"/>
  
  </modules>
  <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.web>
  <httpModules>
  </httpModules>
  </system.web>
</configuration>